body{
    /* border: 2px solid purple;  */
    background-size:contain; 
    font-family: 'Montserrat', sans-serif;
   
}
/* the overall container of the card */
#container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:auto;
}
#container > div{
    height:500px;
    width:950px;
    display:flex;
    justify-content: center;
    margin:auto;
}
/* all the cards individually */
/* global for many boxes */
.text{
    width: 600px;
}
.images{
    width:350px;
}
.bold{
    font-weight:900;
}
p{
    font-weight: 300;
}
h1{
    font-weight:300;
}
/* first card */
#logobox{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:auto;
    background-color:#1B1E25;
    flex-direction: column;
}
#logo{
    height: 20vh;
    width: 20vh;
    display:flex;
    justify-content:center;
    margin-bottom: 200px;   
}
#logo > img{
    height:20vh;
    
}

#language{
    border: 1px solid whitesmoke;
    color:white;
    width:40px;
    height: 20px;
    text-align:center;
    margin-left:800px;
    margin-bottom: 100px;
    font-size: 10px;
    padding-bottom: 10px;
}
/* second card  */
#uxDesigner{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:white;
    
} 
#trianglesquare > img{
    padding-top:40px;
    height:50vh;
    width:50vh;
}

#short{
    width: 60px;
    margin-left:0px;
}
#short2{
    width: 60px;
    margin-left:0px;
}
/*third card   */
#frontend{
   display:flex;
   background-color:#FAFAFA;
   height:500px;
    width:950px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}
#brackets{
    height:50vh;
    text-align:center; 
    font-weight:700;
    font-size:8rem;
    padding-bottom:200px;
    width:350px;

    
}
/* fourth card */
#portfolio{
    
    display:flex;
    justify-content: center;
    background-color:#1B1E25;
    margin:auto;
    height:500px;
    width:950px;
}
#portfoliobox{
    border:2px solid whitesmoke;
    height:300px;
    width:600px;
    display:flex;
    justify-content: flex-end;
    align-items:center;
    flex-direction: column;
    margin:auto;
}
#text-port > h1{
    font-weight: 700;
}
#text-port > p{
    margin: auto;
    padding: 2px;

}
#dribble-portfolio{
    border:2px solid whitesmoke;
    height:50px;
    width:300px;
    margin-bottom: 40px;
    font-size: 10px;
    text-align:center;
    color:whitesmoke;
    font-weight:300;
    display: flex;
    justify-content: center;
}
#dribblecheckout{
    background-color:transparent;
    color:whitesmoke;
    border-color:transparent;
}
#text-port{
    text-align:center;
    margin: auto;
    color: whitesmoke;
}
/* fifth card */
#getconnected{
    
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    background-color:#2ABBAE;
     height:500px;
    width:950px;
}
td > img{
    height:20px;
    width:20px;
}
.gcbox{
    width:400px;
    height:300px;
    color:whitesmoke;
}

#socialmedia{
    width:300px;
}
#text-connect{
    color: white;
    padding-left: 20px;
}
.sectiontitle{
    font-size: 20px;
}
a{
    text-decoration:none;
    color:whitesmoke;
}
#twitter{
    padding-left: 10px;
    width: 500px;
}
#table{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    font-weight:300;
    color:whitesmoke;
}
#tweet1 >tr{
    border-bottom: 1px solid whitesmoke;
}
#tweets{
    color:white;
    width: 500px;
}
#tweet1>img{
    height: 30px;
    width: 30px;
}
#tweet2>img{
    height: 20px;
    width: 20px;
}
/* final card */
#contactform{
    display: flex;
    justify-content: center;
    align-content:center;
    flex-direction: column;
    background-color:#1B1E25;
    height:500px;
    width:950px;
}
#contacttitle{
    font-weight: 300px;
    color:whitesmoke;
    text-align:center;
    padding-top: 40px;
    padding-bottom:0px;
    height: 100px;
    font-size: 20px;

}
form{
    height:300px;
    width:600px;
    margin:0 auto auto auto;
    color:whitesmoke;
    font-weight: 100;
    font-size: 15px;
    text-align: left;

}
input{
    background: transparent;
    border:none;
}
textarea{
    background: transparent;
    border: 1px solid whitesmoke;
    height: 100px;
    width: 600px;
    margin-top: 10px;
}

.input{
    border-bottom: 1px solid whitesmoke;

}

/* footer sesction  */
footer{
    
    height: 50px;
    width:950px;
    background-color:#1B1E25;
    color:whitesmoke;
    font-weight:300;
    display: flex;
    justify-content: space-between;
}
#backtotop >button{
    background:transparent;
    border:none;
    color: whitesmoke;
}
svg{
   fill:whitesmoke;
}
/*collapsibles*/
.collapsible{
    height:45px;
     width:90px;
     border-radius: 0 0 90px 90px;
     border-color:transparent;
}
#button1{
   background-color:#1B1E25; 
}
#button2{
    background-color:white;
    margin-left:425px;
}
#button2 > svg{
    fill:#1B1E25;
}
#button2background{
    background-color:#FAFAFA;
}
#button3background{
    background-color:#1B1E25;
}
#button3{
    background-color:#FAFAFA;
    margin-left:425px;
}
#button3 > svg{
    fill:#1B1E25;
}
#button4background{
    background-color:#2ABBAE;
}
#button4{
    background-color:#1B1E25;
    margin-left:425px;
}
#button5background{
    background-color:#1B1E25;
}
#button5{
    background-color:#2ABBAE;
    margin-left:425px;
}